/* 
    First mobile then desktop
    320px ->
*/
$fontColor : #ffffff;
$darkGrayBg : #333333;
$red : #fa2828;
$lightGrayBg : #6e6e6e;
$lighterGrayBg : #bdbdbd;
$lighterBgTextColor : #000;
$fontFamily : 'Open Sans',
sans-serif;

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    color: $fontColor;
    margin: 0;
    padding: 0;
}

body {
    background-color: $darkGrayBg;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
input[type="text"] {
    font-family: $fontFamily;
}

h1 {
    font-size: 2em;
    line-height: 2em;
}

h2 {
    font-size: 1.75em;
    line-height: 1.75em;
}

h3 {
    line-height: 1.5em;
    font-size: 1.5em;
}

h4 {
    line-height: 1.25em;
    font-size: 1.25em;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-size: inherit;

    &:active {
        color: inherit;
    }

    &:hover {
        color: inherit;

    }

    &:focus {
        color: inherit;
    }

    &:visited {
        color: inherit;
    }
}

img {
    width: 200px;
    height: auto;
}

iframe {
    width: 200px;
    height: auto;
}

input[type="radio"] {
    visibility: hidden;
    width: 0;
    margin: 0;
}

input[type="text"] {
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 0;
    border-radius: 30px;
    margin: 10px 0 20px;
}

button {
    background-color: $lighterBgTextColor;
    color: $fontColor;
    font-family: $fontFamily;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 30px;

    &:hover {
        background-color: $darkGrayBg;
    }

    &:active {
        background-color: $lightGrayBg;
        -webkit-box-shadow: inset 0px 0px 15px 14px rgba(0, 0, 0, 0.75);
        box-shadow: inset 0px 0px 15px 14px rgba(0, 0, 0, 0.75);
    }

    &:focus {
        outline: none;
    }
}

.input-row {
    height: 40px;
    overflow: hidden;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

label {
    text-align:center;
    font-size: 1.2em;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.display-none {
    display: none !important;
}

.display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &.row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
    }

    &.column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .order-2 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .order-1 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }

}

.display-block {
    display: block;
}

.class-wrapper {
    padding: 20px 10px;
}

.outline-text {
    text-shadow: -3px -1px 0 $red, 1px -1px 0 $red, -1px 1px 0 $red, 1px 1px 0 $red;
    color: #fff;
}

.exception-text {
    font-size: 2em;
    margin-bottom: 20px;
}

.btn {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 1.2em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    * {
        cursor: inherit;
    }

    &.btn-normal {
        color: $fontColor;
        background-color: $lighterBgTextColor;
        border: 4px solid $darkGrayBg;
    }

}

.header-content {
    overflow: hidden;
    background-color: $lightGrayBg;

    .page-title {
        margin: 10px 0;
        letter-spacing: 5px;
        text-align: center;
        color: $fontColor;
        font-style: italic;
    }
}

.search-section {
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: $lighterGrayBg;
    color: $lighterBgTextColor;

    .searchBy-text {
        margin: 0 0 10px;
        font-size: 1.3em;
    }

    .input-row {
        font-size: 1em;
        height: 40px;

        label {
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        &.order-2 {
            border: 3px solid $lighterBgTextColor;
            margin-top: -3px;
            position: relative;
            -webkit-transition: background-color 1s ease-out;
            -o-transition: background-color 1s ease-out;
            transition: background-color 1s ease-out;

            &:hover {
                z-index: 10;
                background-color: $lightGrayBg;
            }
        }

        &.order-1 {
            cursor: initial;
            color: $fontColor;
            background-color: $lightGrayBg;
            border: 3px solid $red;
            margin-top: 0;
            position: relative;
            z-index: 20;
        }


    }
}

.searchResult {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    a {
        width: 100%;
        position: relative;
        height: 250px;
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s;
        margin-bottom: 5px;


        img {
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -10;
            width: 100%;
            height: 100%;
        }

        h5 {
            overflow: hidden;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            position: absolute;
            text-align: center;
            width: 100%;
            bottom: 10px;
            font-size: 1.5em;
            line-height: 1.5em;
            color: $fontColor;
            background: -webkit-gradient(linear, left top, left bottom, from($lightGrayBg), to(rgba(0, 0, 0, 0)));
            background: -o-linear-gradient(top, $lightGrayBg, rgba(0, 0, 0, 0));
            background: linear-gradient(180deg, $lightGrayBg, rgba(0, 0, 0, 0));
        }
    }
}

.mealRecipe {
    margin: 25px 0;

    img {
        width: 100%;
        height: auto;
    }

    h1 {
        text-align: center;
    }

    .mealInfo {
        text-align: center;
        display: -ms-grid;
        display: grid;
        font-size: 1.2em;
        row-gap: 10px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        background-color: $lightGrayBg;
        padding: 15px 10px;

        a {
            color: $red;
        }
    }

    .desc {
        line-height: 1.25em;
        font-size: 1.1em;
        margin: 10px 20px;
        text-align: justify;
    }
}

footer {
    background-color: $lightGrayBg;
    padding: 20px;
    color: $fontColor;
}

.select-bar {
    margin-bottom: 15px;
    overflow: hidden;
    max-height: 40px;
    padding-left: 45px;
    position: relative;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    &.open {
        max-height: 1000px;

        .arrow {
            i {
                -webkit-transform: rotateX(180deg);
                transform: rotateX(180deg);
            }
        }
    }

    .arrow {
        padding: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 40px;
        height: 40px;

        i {
            -webkit-transform: rotateX(0);
            transform: rotateX(0);
            -webkit-transition: -webkit-transform 0.5s ease-in-out;
            transition: -webkit-transform 0.5s ease-in-out;
            -o-transition: transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;

            &::before {
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -5px;
                margin-top: -9px;
            }
        }
    }
}

.select-bar-options {
    .input-row,
    .arrow{
        position: relative;
        width: 100%;
    }
}

@media (min-width : 420px) {
    .search-section {
        .select-bar {
                width: 250px;
            
        }
    }
    
    .searchResult {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: space-evenly;

        a {
            width: 300px;

            h5 {
                font-size: 2em;
                line-height: 2em;
            }


        }
    }
}

@media (min-width : 650px) {
    .mealRecipe {

        .mealInfo {
            -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        }

        .image-class {
            text-align: center;

            img {
                width: 400px;
            }
        }
    }

    .search-section {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

    }

    .searchResult {

        a {
            margin-bottom: 15px;

            &:hover {
                -webkit-transform: scale(1.2, 1.2);
                -ms-transform: scale(1.2, 1.2);
                transform: scale(1.2, 1.2);
            }
        }
    }
}

@media (min-width: 900px) {
    .mealRecipe {

        .mealInfo {
            grid-column-gap: 50px;

            div,
            a {
                &:nth-child(2n+1) {
                    text-align: right;
                }

                &:nth-child(2n) {
                    text-align: left;
                }
            }
        }
    }
}